<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div class="card">
    <div class="card-body">
        <h4>New Student registration</h4>
        <form autocomplete="off" action="#" th:action="@{/}" th:object="${student}" method="post" enctype="multipart/form-data" >
            <div class="form-group">
                <label>First Name: </label><mark><strong>
    <span th:if="${#fields.hasErrors('firstName')}"
          th:errors="*{firstName}">First Name Error</span></strong></mark>
                <input class="form-control" type="text" id="firstName" placeholder="First Name" th:field="*{firstName}"/><br><br>
            </div>
            <div class="form-group">
                <label>Last Name: </label><mark><strong>
    <span th:if="${#fields.hasErrors('lastName')}"
          th:errors="*{lastName}">Last Name Error</span></strong></mark>
                <input class="form-control" type="text" id="lastName" placeholder="Last Name" th:field="*{lastName}"/><br><br>
            </div>
            <div class="form-group">


                <div class="form-group">
                    <label>Date of Birth: </label><mark><strong>
    <span th:if="${#fields.hasErrors('DOB')}"
          th:errors="*{DOB}">Username Error</span></strong></mark>
                    <input class="form-control" type="text" id="DOB" placeholder="Username" th:field="*{DOB}"/><br><br>
                </div>

            <select name="coarseId">
                <!--            we need a value of department to pass it in-->
                <option th:each="department : ${coarses}" th:value="${coarse.id}" th:text="${coarse.name}"></option>

            </select><br>
            Image : <input type="file" name="file"><br/><br/>
            <div th:if="${student.studentimage} !=null">
                <img th:src="${student.studentimage}">
            </div>
            <br>

            <button type="submit" class="btn btn-primary">Submit</button>

        </form></div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>